<div style="text-align: center;">
    <h1>Merge Dataframes</h1>
</div>

<span style="color: blue;">
<h3>Basic merge using a Dataframe Column</h3>
</span>

In [1]:
import pandas as pd

df1 = pd.DataFrame({
    "city": ["new york", "chicago", "atlanta"],
    "temperature": [21, 14, 35]
})

df1

       city  temperature
0  new york           21
1   chicago           14
2   atlanta           35

In [2]:
df2 = pd.DataFrame({
    "city": ["chicago", "new york", "atlanta"],
    "humidity": [65, 68, 71],
})

df2

       city  humidity
0   chicago        65
1  new york        68
2   atlanta        71