<div style="text-align: center;">
    <h1>Pandas Time Series Analysis: Period and PeriodIndex</h1>
</div>

In [1]:
# Yearly Period
import pandas as pd 
y = pd.Period('2016')
y

Period('2016', 'Y-DEC')

In [ ]:
# Useful Properties. 
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [2]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [4]:
y.is_leap_year

True

In [5]:
# Monthly Period
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [6]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [7]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [8]:
m+1

Period('2018-01', 'M')

In [9]:
# Daily Period

d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [10]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [11]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [12]:
d+1

Period('2016-02-29', 'D')

In [13]:
# Hourly Period

h = pd.Period('2017-08-15 23:00:00', freq='h')
h

Period('2017-08-15 23:00', 'h')

In [14]:
h+1

Period('2017-08-16 00:00', 'h')

Achieve same results using pandas offsets hour

In [15]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'h')

In [5]:
# Quaterly Period

q1 = pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [6]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [7]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

Use asfreq to convert period to a different frequency

In [9]:
# change period to a diff frequency
# using asfreq
q1.asfreq('M', how='start')

Period('2016-02', 'M')

In [10]:
q1.asfreq('M', how='end')

Period('2016-04', 'M')

Weekly Period

In [11]:
w = pd.Period('2017-07-05', freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [12]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [13]:
w2 = pd.Period('2017-08-15', freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [14]:
w2-w

<span style="color: purple;">
    <h3>PeriodIndex and period_range</h3>
</span>

In [16]:
r = pd.period_range('2011', '2017', freq='Q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [17]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [18]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017

In [41]:
r = pd.period_range('2011', '2017', freq='Q-JAN')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [42]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [43]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [49]:
r = pd.period_range(start='2016-01', freq='3M', periods=10)
r

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]')

In [51]:
import numpy as np 

ps = pd.Series(np.random.randn(len(r)), r)
ps

2016-01    1.070268
2016-04    0.012224
2016-07    0.903945
2016-10    0.996520
2017-01    0.314621
2017-04    0.237843
2017-07   -0.442123
2017-10   -1.105213
2018-01   -0.426820
2018-04    0.199991
Freq: 3M, dtype: float64

Partial Indexing

In [52]:
ps['2016']

2016-01    1.070268
2016-04    0.012224
2016-07    0.903945
2016-10    0.996520
Freq: 3M, dtype: float64

In [53]:
ps['2017']

2017-01    0.314621
2017-04    0.237843
2017-07   -0.442123
2017-10   -1.105213
Freq: 3M, dtype: float64

Converting between representations

In [54]:
pst = ps.to_timestamp()
pst

2016-01-01    1.070268
2016-04-01    0.012224
2016-07-01    0.903945
2016-10-01    0.996520
2017-01-01    0.314621
2017-04-01    0.237843
2017-07-01   -0.442123
2017-10-01   -1.105213
2018-01-01   -0.426820
2018-04-01    0.199991
Freq: QS-OCT, dtype: float64

In [55]:
pst.index

DatetimeIndex(['2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [56]:
ps = pst.to_period()
ps

2016Q1    1.070268
2016Q2    0.012224
2016Q3    0.903945
2016Q4    0.996520
2017Q1    0.314621
2017Q2    0.237843
2017Q3   -0.442123
2017Q4   -1.105213
2018Q1   -0.426820
2018Q2    0.199991
Freq: Q-DEC, dtype: float64

### Processing Wal Mart's Financials

In [57]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [58]:
df.set_index("Line Item", inplace=True)
df = df.T    
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [59]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [60]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [61]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

### Add start date end date columns to dataframe

In [62]:
df['Start Date']=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [63]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999