<span style="text-align: text;">
    <h1>Pandas melt function</h1>
</span>

pandas melt function is used to transform or reshape data

In [2]:
import pandas as pd 
df = pd.read_csv("weather.csv")
df

         day  chicago  chennai  berlin
0     Monday       32       75      41
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38
4     Friday       30       83      30
5   Saturday       20       81      45
6     Sunday       25       77      47