<div style="text-align: center;">
    <h1>Different ways of creating Dataframe</h1>
</div>

### Using csv

In [5]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### Using excel

In [8]:
df = pd.read_excel("weather_data.xlsx", "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

### Using dictionary

In [11]:
weather_data = {
    'day': ['1/1/2025', '1/2/2025', '1/3/2025'],
    'temperature': [32, 35, 28],
    'windspeed': [6, 7, 2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           28          2   Snow

### Using tuples list

In [12]:
weather_data = [
    ('1/1/2025', 32, 6, 'Rain'),
    ('1/2/2025', 35, 7, 'Sunny'),
    ('1/3/2025', 28, 2, 'Snow')
]

df = pd.DataFrame(data=weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           28          2   Snow

### Using list of dictionaries

In [13]:
weather_data = [
    {'day': '1/1/2025', 'temperature': 32, 'windpseed': 6, 'event': 'Rain'},
    {'day': '1/2/2025', 'temperature': 35, 'windpseed': 7, 'event': 'Sunny'},
    {'day': '1/3/2025', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
]

df = pd.DataFrame(data=weather_data, columns=['day', 'temperature', 'windspeed', 'event'])
df

        day  temperature  windspeed  event
0  1/1/2025           32        NaN   Rain
1  1/2/2025           35        NaN  Sunny
2  1/3/2025           28        2.0   Snow

To read your dataframe from different sources, go through pandas io documentation. (https://pandas.pydata.org/docs/user_guide/io.html)