<div style="text-align: center;">
    <h1>Pandas Time Series Analysis: Date Range</h1>
</div>

In [1]:
import pandas as pd 

df = pd.read_csv("aapl_no_dates.csv")
df.head()

     Open    High     Low   Close    Volume
0  153.17  153.33  152.22  153.18  16404088
1  153.58  155.45  152.89  155.45  27770715
2  154.34  154.45  153.46  153.93  25331662
3  153.90  155.81  153.78  154.45  26624926
4  155.02  155.98  154.48  155.37  21069647