### Dataframe is a main object in Pandas. It is used to represent data with rows and columns (tabular or excel spreadsheet like data)

In [3]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [24]:
import pandas as pd
weather_data = {
    'Day': ['1/1/2025', '1/2/2025', '1/3/2025', '1/4/2025', '1/5/2025', '1/6/2025'],
    'Temperature': [32, 35, 38, 24, 32, 31],
    'Windspeed': [6, 7, 2, 7, 4, 2],
    'Event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        Day  Temperature  Windspeed  Event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           38          2   Snow
3  1/4/2025           24          7   Snow
4  1/5/2025           32          4   Rain
5  1/6/2025           31          2  Sunny

In [25]:
# Dimension of the dataframe
df.shape

(6, 4)

### Rows

In [17]:
rows, columns = df.shape

In [18]:
rows

6

In [19]:
columns

4

In [26]:
df.head() # head() prints out initial few rows.

        Day  Temperature  Windspeed  Event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           38          2   Snow
3  1/4/2025           24          7   Snow
4  1/5/2025           32          4   Rain

In [28]:
df.tail() # Prints out last five rows.

        Day  Temperature  Windspeed  Event
1  1/2/2025           35          7  Sunny
2  1/3/2025           38          2   Snow
3  1/4/2025           24          7   Snow
4  1/5/2025           32          4   Rain
5  1/6/2025           31          2  Sunny

In [ ]:
df.tail(1) # last row

        Day  Temperature  Windspeed  Event
5  1/6/2025           31          2  Sunny

In [30]:
df[2:5] # it includes row 2, but it doesn't includes row 5

        Day  Temperature  Windspeed Event
2  1/3/2025           38          2  Snow
3  1/4/2025           24          7  Snow
4  1/5/2025           32          4  Rain

### Columns

In [ ]:
df.columns # To print the columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [35]:
# To print the specific content of the column
df.Day

0    1/1/2025
1    1/2/2025
2    1/3/2025
3    1/4/2025
4    1/5/2025
5    1/6/2025
Name: Day, dtype: object

In [ ]:
df.Event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: Event, dtype: object

In [37]:
df['Event'] # df.Event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: Event, dtype: object

In [ ]:
type(df['Event'])

pandas.core.series.Series

In [44]:
df[['Event', 'Day', 'Temperature']]

   Event       Day  Temperature
0   Rain  1/1/2025           32
1  Sunny  1/2/2025           35
2   Snow  1/3/2025           38
3   Snow  1/4/2025           24
4   Rain  1/5/2025           32
5  Sunny  1/6/2025           31

In [46]:
df.Temperature

0    32
1    35
2    38
3    24
4    32
5    31
Name: Temperature, dtype: int64

### Operations on DataFrame

In [47]:
df.Temperature.max()

np.int64(38)

In [52]:
df['Temperature'].min()

np.int64(24)

In [53]:
df['Temperature'].std()

np.float64(4.69041575982343)

In [55]:
df.describe() # It prints the statistics of dataset.

       Temperature  Windspeed
count     6.000000   6.000000
mean     32.000000   4.666667
std       4.690416   2.338090
min      24.000000   2.000000
25%      31.250000   2.500000
50%      32.000000   5.000000
75%      34.250000   6.750000
max      38.000000   7.000000

In [56]:
df[df.Temperature>=32]

        Day  Temperature  Windspeed  Event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           38          2   Snow
4  1/5/2025           32          4   Rain

In [ ]:
df[df.Temperature==df.Temperature.max()] # It prints the particular maxed out row.

        Day  Temperature  Windspeed Event
2  1/3/2025           38          2  Snow

In [59]:
df[['Day', 'Temperature']][df.Temperature==df.Temperature.max()]

        Day  Temperature
2  1/3/2025           38

In [ ]:
df

        Day  Temperature  Windspeed  Event
0  1/1/2025           32          6   Rain
1  1/2/2025           35          7  Sunny
2  1/3/2025           38          2   Snow
3  1/4/2025           24          7   Snow
4  1/5/2025           32          4   Rain
5  1/6/2025           31          2  Sunny

### set_index

In [62]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [74]:
df.set_index('Day', inplace=True)

In [75]:
df.loc['1/3/2025']

Temperature      38
Windspeed         2
Event          Snow
Name: 1/3/2025, dtype: object

In [84]:
df.reset_index(inplace=True)
df

   level_0  index       Day  Temperature  Windspeed  Event
0        0      0  1/1/2025           32          6   Rain
1        1      1  1/2/2025           35          7  Sunny
2        2      2  1/3/2025           38          2   Snow
3        3      3  1/4/2025           24          7   Snow
4        4      4  1/5/2025           32          4   Rain
5        5      5  1/6/2025           31          2  Sunny

In [88]:
df.set_index('Event',inplace=True)
df

       level_0  index       Day  Temperature  Windspeed
Event
Rain         0      0  1/1/2025           32          6
Sunny        1      1  1/2/2025           35          7
Snow         2      2  1/3/2025           38          2
Snow         3      3  1/4/2025           24          7
Rain         4      4  1/5/2025           32          4
Sunny        5      5  1/6/2025           31          2

In [89]:
df.loc['Snow']

       level_0  index       Day  Temperature  Windspeed
Event
Snow         2      2  1/3/2025           38          2
Snow         3      3  1/4/2025           24          7